@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<div class="main-wrapper">
    <!-- Begin Uren's Header Main Area -->
    <header class="header-main_area header-main_area-2 bg--black">
        <div class="header-middle_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-2 col-md-3 col-sm-5">
                        <div class="header-logo_area">
                            <a href="index.html">
                                <img src="~/Siteassets/images/menu/logo/1.png" alt="Uren's Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 d-none d-lg-block">
                        <div class="hm-form_area">
                            <form action="#" class="hm-searchbox">
                                <select class="nice-select select-search-category">
                                    <option value="0">All Categories</option>
                                    <option value="10">Laptops</option>
                                    <option value="17">Prime Video</option>
                                    <option value="20">All Videos</option>
                                    <option value="21">Blouses</option>
                                    <option value="22">Evening Dresses</option>
                                    <option value="23">Summer Dresses</option>
                                    <option value="24">T-shirts</option>
                                    <option value="25">Rent or Buy</option>
                                    <option value="26">Your Watchlist</option>
                                    <option value="27">Watch Anywhere</option>
                                    <option value="28">Getting Started</option>
                                    <option value="18">Computers</option>
                                    <option value="29">More to Explore</option>
                                    <option value="30">TV &amp; Video</option>
                                    <option value="31">Audio &amp; Theater</option>
                                    <option value="32">Camera, Photo </option>
                                    <option value="33">Cell Phones</option>
                                    <option value="34">Headphones</option>
                                    <option value="35">Video Games</option>
                                    <option value="36">Wireless Speakers</option>
                                    <option value="19">Electronics</option>
                                    <option value="37">Amazon Home</option>
                                    <option value="38">Kitchen &amp; Dining</option>
                                    <option value="39">Furniture</option>
                                    <option value="40">Bed &amp; Bath</option>
                                    <option value="41">Appliances</option>
                                    <option value="11">TV &amp; Audio</option>
                                    <option value="42">Chamcham</option>
                                    <option value="45">Office</option>
                                    <option value="47">Gaming</option>
                                    <option value="48">Chromebook</option>
                                    <option value="49">Refurbished</option>
                                    <option value="50">Touchscreen</option>
                                    <option value="51">Ultrabooks</option>
                                    <option value="52">Blouses</option>
                                    <option value="43">Sanai</option>
                                    <option value="53">Hard Drives</option>
                                    <option value="54">Graphic Cards</option>
                                    <option value="55">Processors (CPU)</option>
                                    <option value="56">Memory</option>
                                    <option value="57">Motherboards</option>
                                    <option value="58">Fans &amp; Cooling</option>
                                    <option value="59">CD/DVD Drives</option>
                                    <option value="44">Meito</option>
                                    <option value="60">Sound Cards</option>
                                    <option value="61">Cases &amp; Towers</option>
                                    <option value="62">Casual Dresses</option>
                                    <option value="63">Evening Dresses</option>
                                    <option value="64">T-shirts</option>
                                    <option value="65">Tops</option>
                                    <option value="12">Smartphone</option>
                                    <option value="66">Camera Accessories</option>
                                    <option value="68">Octa Core</option>
                                    <option value="69">Quad Core</option>
                                    <option value="70">Dual Core</option>
                                    <option value="71">7.0 Screen</option>
                                    <option value="72">9.0 Screen</option>
                                    <option value="73">Bags &amp; Cases</option>
                                    <option value="67">XailStation</option>
                                    <option value="74">Batteries</option>
                                    <option value="75">Microphones</option>
                                    <option value="76">Stabilizers</option>
                                    <option value="77">Video Tapes</option>
                                    <option value="78">Memory Card Readers</option>
                                    <option value="79">Tripods</option>
                                    <option value="13">Cameras</option>
                                    <option value="14">headphone</option>
                                    <option value="15">Smartwatch</option>
                                    <option value="16">Accessories</option>
                                </select>
                                <input type="text" placeholder="Enter your search key ...">
                                <button class="header-search_btn" type="submit">
                                    <i class="ion-ios-search-strong"><span>Search</span></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-9 col-sm-7">
                        <div class="header-right_area">
                            <ul>
                                <li class="mobile-menu_wrap d-flex d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                        <i class="ion-navicon"></i>
                                    </a>
                                </li>
                                <li class="minicart-wrap">
                                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                                        <div class="minicart-count_area">
                                            <span class="item-count">3</span>
                                            <i class="ion-bag"></i>
                                        </div>
                                        <div class="minicart-front_text">
                                            <span>Cart:</span>
                                            <span class="total-price">462.4</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="contact-us_wrap">
                                    <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">

                    <div class="custom-menu_col col-12 d-none d-lg-block" style="margin-right:230px">
                        <div class="main-menu_area position-relative">
                            <nav class="main-nav">
                                <ul>
                                    <li class="dropdown-holder active">
                                        <a asp-action="Index" asp-controller="Home">Home</a>
                                    </li>
                                    <li class=""><a href="about-us.html">About Us</a></li>
                                    <li class=""><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="custom-setting_col d-none d-lg-inline-block" style="float:right">
                        <div class="ht-right_area">
                            <div class="ht-menu" style="margin-top:20px">
                                <ul>
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <li class="hm-dropdown" style="margin-top:-20px">
                                            <a style="font-size:large">
                                                Account Setteng <i class="ion-ios-arrow-down"></i>
                                            </a>                                            
                                            <ul class="ht-dropdown">
                                                <li class="mb-3" style="font-size:initial">Hello, @User.Identity.Name!</li> 
                                                <li>
                                                    <a class="nav-link text-dark" style="margin-top:-20px" asp-action="Edit" asp-controller="User" asp-route-id="@userManager.GetUserAsync(User).Result.Id" title="Manage">Account Setting</a>
                                                </li>
                                                <li>
                                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                                        <button type="submit" class="nav-link text-dark">Logout</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register" style="font-size:large; padding:0px 10px;margin:0% 10px 0%">Register</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login" style="font-size:large; padding:0px 10px">Login</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-search_col d-none d-md-block d-lg-none">
                        <div class="hm-form_area">
                            <form action="#" class="hm-searchbox">
                                <select class="nice-select select-search-category">
                                    <option value="0">All Categories</option>
                                    <option value="10">Laptops</option>
                                    <option value="17">Prime Video</option>
                                    <option value="20">All Videos</option>
                                    <option value="21">Blouses</option>
                                    <option value="22">Evening Dresses</option>
                                    <option value="23">Summer Dresses</option>
                                    <option value="24">T-shirts</option>
                                    <option value="25">Rent or Buy</option>
                                    <option value="26">Your Watchlist</option>
                                    <option value="27">Watch Anywhere</option>
                                    <option value="28">Getting Started</option>
                                    <option value="18">Computers</option>
                                    <option value="29">More to Explore</option>
                                    <option value="30">TV &amp; Video</option>
                                    <option value="31">Audio &amp; Theater</option>
                                    <option value="32">Camera, Photo </option>
                                    <option value="33">Cell Phones</option>
                                    <option value="34">Headphones</option>
                                    <option value="35">Video Games</option>
                                    <option value="36">Wireless Speakers</option>
                                    <option value="19">Electronics</option>
                                    <option value="37">Amazon Home</option>
                                    <option value="38">Kitchen &amp; Dining</option>
                                    <option value="39">Furniture</option>
                                    <option value="40">Bed &amp; Bath</option>
                                    <option value="41">Appliances</option>
                                    <option value="11">TV &amp; Audio</option>
                                    <option value="42">Chamcham</option>
                                    <option value="45">Office</option>
                                    <option value="47">Gaming</option>
                                    <option value="48">Chromebook</option>
                                    <option value="49">Refurbished</option>
                                    <option value="50">Touchscreen</option>
                                    <option value="51">Ultrabooks</option>
                                    <option value="52">Blouses</option>
                                    <option value="43">Sanai</option>
                                    <option value="53">Hard Drives</option>
                                    <option value="54">Graphic Cards</option>
                                    <option value="55">Processors (CPU)</option>
                                    <option value="56">Memory</option>
                                    <option value="57">Motherboards</option>
                                    <option value="58">Fans &amp; Cooling</option>
                                    <option value="59">CD/DVD Drives</option>
                                    <option value="44">Meito</option>
                                    <option value="60">Sound Cards</option>
                                    <option value="61">Cases &amp; Towers</option>
                                    <option value="62">Casual Dresses</option>
                                    <option value="63">Evening Dresses</option>
                                    <option value="64">T-shirts</option>
                                    <option value="65">Tops</option>
                                    <option value="12">Smartphone</option>
                                    <option value="66">Camera Accessories</option>
                                    <option value="68">Octa Core</option>
                                    <option value="69">Quad Core</option>
                                    <option value="70">Dual Core</option>
                                    <option value="71">7.0 Screen</option>
                                    <option value="72">9.0 Screen</option>
                                    <option value="73">Bags &amp; Cases</option>
                                    <option value="67">XailStation</option>
                                    <option value="74">Batteries</option>
                                    <option value="75">Microphones</option>
                                    <option value="76">Stabilizers</option>
                                    <option value="77">Video Tapes</option>
                                    <option value="78">Memory Card Readers</option>
                                    <option value="79">Tripods</option>
                                    <option value="13">Cameras</option>
                                    <option value="14">headphone</option>
                                    <option value="15">Smartwatch</option>
                                    <option value="16">Accessories</option>
                                </select>
                                <input type="text" placeholder="Enter your search key ...">
                                <button class="header-search_btn" type="submit">
                                    <i class="ion-ios-search-strong"><span>Search</span></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-top_area header-sticky bg--black">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-7 d-lg-block d-none">
                        <div class="main-menu_area position-relative">
                            <nav class="main-nav">
                                <ul>
                                    <li class="dropdown-holder active">
                                        <a asp-action="Index" asp-controller="Home">Home</a>
                                    </li>                         
                                    <li class=""><a href="about-us.html">About Us</a></li>
                                    <li class=""><a href="contact.html">Contact</a></li>                          
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-sm-3 d-block d-lg-none">
                        <div class="header-logo_area header-sticky_logo">
                            <a href="index.html">
                                <img src="~/Siteassets/images/menu/logo/1.png" alt="Uren's Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-sm-9">
                        <div class="header-right_area">
                            <ul>
                                <li class="mobile-menu_wrap d-flex d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                        <i class="ion-navicon"></i>
                                    </a>
                                </li>
                                <li class="minicart-wrap">
                                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                                        <div class="minicart-count_area">
                                            <span class="item-count">3</span>
                                            <i class="ion-bag"></i>
                                        </div>
                                        <div class="minicart-front_text">
                                            <span>Cart:</span>
                                            <span class="total-price">462.4</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="contact-us_wrap">
                                    <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-minicart_wrapper" id="miniCart">
            <div class="offcanvas-menu-inner">
                <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                <div class="minicart-content">
                    <div class="minicart-heading">
                        <h4>Shopping Cart</h4>
                    </div>
                    <ul class="minicart-list">
                        <li class="minicart-product">
                            <a class="product-item_remove" href="javascript:void(0)">
                                <i class="ion-android-close"></i>
                            </a>
                            <div class="product-item_img">
                                <img src="~/Siteassets/images/product/small-size/1.jpg" alt="Uren's Product Image">
                            </div>
                            <div class="product-item_content">
                                <a class="product-item_title" href="shop-left-sidebar.html">Autem ipsa ad</a>
                                <span class="product-item_quantity">1 x $145.80</span>
                            </div>
                        </li>
                        <li class="minicart-product">
                            <a class="product-item_remove" href="javascript:void(0)">
                                <i class="ion-android-close"></i>
                            </a>
                            <div class="product-item_img">
                                <img src="~/Siteassets/images/product/small-size/2.jpg" alt="Uren's Product Image">
                            </div>
                            <div class="product-item_content">
                                <a class="product-item_title" href="shop-left-sidebar.html">Tenetur illum amet</a>
                                <span class="product-item_quantity">1 x $150.80</span>
                            </div>
                        </li>
                        <li class="minicart-product">
                            <a class="product-item_remove" href="javascript:void(0)">
                                <i class="ion-android-close"></i>
                            </a>
                            <div class="product-item_img">
                                <img src="~/Siteassets/images/product/small-size/3.jpg" alt="Uren's Product Image">
                            </div>
                            <div class="product-item_content">
                                <a class="product-item_title" href="shop-left-sidebar.html">Non doloremque placeat</a>
                                <span class="product-item_quantity">1 x $165.80</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="minicart-item_total">
                    <span>Subtotal</span>
                    <span class="ammount">$462.4‬0</span>
                </div>
                <div class="minicart-btn_area">
                    <a href="cart.html" class="uren-btn uren-btn_dark uren-btn_fullwidth">Minicart</a>
                </div>
                <div class="minicart-btn_area">
                    <a href="checkout.html" class="uren-btn uren-btn_dark uren-btn_fullwidth">Checkout</a>
                </div>
            </div>
        </div>
        <div class="mobile-menu_wrapper" id="mobileMenu">
            <div class="offcanvas-menu-inner">
                <div class="container">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="offcanvas-inner_search">
                        <form action="#" class="inner-searchbox">
                            <input type="text" placeholder="Search for item...">
                            <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="active mb-3" style="font-size:larger">Hello, @User.Identity.Name!</li>
                                <li class="menu-item-has-children active">
                                    <a href="index.html">
                                        <span class="mm-text">Home</span>
                                    </a>
                                </li>
                                <li class=""><a href="about-us.html">About Us</a></li>
                                <li class=""><a href="contact.html">Contact</a></li>
                                <li>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="nav-link text-dark">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="menu-item-has-children active">
                                    <a href="index.html">
                                        <span class="mm-text">Home</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item-has-children"><a href="contact.html">Contact</a></li>
                                <li class="menu-item-has-children">
                                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Uren's Header Main Area End Here -->
</div>